@import "foundation/components/inline-lists";

#content .section.choice-primary {
  background: none;
  padding: 2em 0;
  background-color: $color-primary-darkest;
}

ul.process-horizontal {
  @include inline-list;
}
.process-nav {
  background: white;
  padding: .5em 0;
}

.pad-top {
  padding: 1.5em 0 0 0 !important;
}

#content .section.faq-mast {
  padding: 2em 0;
  background: $color-gray-lightest;
  h1, h2, h3, h4, h5, h6, p, li {color: $color-primary-darkest;}
  color: $color-primary-darkest;
  ul li {list-style: square;}
}




li .card.info-graphic{
  line-height:1.5;
  h4 {
    line-height: 1;
  }
}


#zip-network-tool {
  padding: 1.1em 0;
  text-align: right;
  label {
    position: absolute;
    left: -9999em;
    font-size: 1px;
    overflow: hidden;
    float: left;
  }
  input[type="text"] {
    height: 3em;
    margin: 0;
    width: 100%;
    color: $color-gray-dark;
    padding: .2em;
    box-sizing: border-box;
  }

  input[type="button"] {
    margin: 0;
    height: 3em;
    text-align: center !important;
    width: 100%;
    padding: 0;
    border-radius: 0px 3px 3px 0px;
  }

}

.network-check-form {
  position: absolute;

  input[type="button"] {
    margin: 0;
    height: 3em;
    width: 100%;
    border-radius: 0px 3px 3px 0px;
  }

  input[type="text"] {
    height: 3em;
    margin: 0;
  }

  //media query for small screen to
  //restyle button with rounded corners
}